/* nejsme vcerejsi, pouzivame moderni box model */
*, ::after, ::before { box-sizing: border-box; }

/*
 BARVY
 pozadi           #f5f5f5
 dekorace nadpisů #629edb
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}



/* HLAVICKA */

header {  
 background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(images/island-hlavicka.jpg); background-repeat: no-repeat;
 background-size: cover;
 text-align: center;
}

.titulek {
    font-family: 'Raleway', serif;
    font-size: 2rem;
    font-weight: 700;
  }

.titulek, 
.perex,
.autor {
  color: #f5f5f5;
}

.perex {
  padding: 1rem;
}
.autor {
  font-style: italic;
  padding: 1rem;
}

.autor::before {
  content: "";
  display: block;
  background-color: white;
  width: 80px;
  height: 2px;
  margin: auto;
  margin-bottom: 1rem;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.menu li {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ececec;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
}




/* OBSAH */

.odstavec,
.odstavec-levy {
  display: flex;
  flex-direction: column;
}

p {
  padding: 0 0.75rem;
  font-size: 1rem;
}



.popisek,
.foto-popisek {
  text-align: center;
  margin: 0;
  padding: 0.5rem;
  font-size: 12px;
  color: gray;
  font-family: 'Raleway', serif;
}

.popisek a,
.foto-popisek a {
  color: grey;
}

h2 {
  font-family: 'Raleway', serif;
  font-weight: 700;
  position: relative;
  padding-left: 0.75rem;
}

h2::after {
  content: "";
  display: flex;
  background-color: #008fba;
  width: 80px;
  height: 3px;
  margin: 0;
  margin-top: 1rem;
  position: relative;
  left: -0.75rem;
}
/* FOTOGALERIE */

figure {
margin: 0;
display: flex;
flex-direction: column;
}

img.foto {
  max-width: 100%;
}



.foto-popisek::first-line {
  font-weight: bold;
}
/* PATICKA */

footer {
  background-image: linear-gradient(to bottom, rgba(192,192,192), rgba(255,255,255));
  padding-top: 1rem;
}

footer p {
  color: grey;
  font-size: 12px;
}

footer a {
  color: grey;
}

/*tablet*/
@media screen and (min-width: 500px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    margin-bottom: 2rem;

  }

  ul {
    font-size: 0.75rem;
  }

  .uvod {
    background-image: url(images/foto2.jpg);
  }
  p.popisek {
    display: flex;
    justify-content: flex-end;
    color: white;
    position: relative;
    top: -3rem;
  }

  p.popisek a {
    color: white;
  }
  .galerie {
    display: flex;
    flex-wrap: wrap;
    }

  .foto {
    position: relative;
    margin: 0;
    display: flex;
    flex-basis: 100%;
    max-width: 50%;
    overflow: hidden;
  }

  .foto-img {
    display: block;
    max-width: 50%;
  }
  .foto-popisek {
      background-color: rgba(50,50,50,0.7);
      position: absolute;
      text-align: center;
      color: #fff;
      bottom: 0;
      width: 100%;
      transition: transform 0.3s ease-in;
      transform: translateY(100%);
  }

   
  .foto-popisek a {
      color: #fff;
  }
   
  .foto:hover .foto-popisek {
    transform: translateY(0);
  }

}

/*laptop*/

@media screen and (min-width: 1000px) {
  header {
    padding: 2rem 3rem;
  }

  .titulek {
    font-size: 3rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    box-shadow: 5px 5px 5px 5px #888888;
    position: relative;
    top: -4rem;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 25%;
    border-bottom: none;
  }

  .menu li {
    align-items: flex-start;
  }


  .odstavec-levy {
    padding-left: 8rem;
  }

  .odstavec-levy img {
    position: relative;
    left: -8rem;
    max-width: 100%;
    width: unset;
    }

  .foto {
    position: relative;
    margin: 0;
    display: flex;
    flex-basis: 100%;
    max-width: calc(100%/3);
    overflow: hidden;
  }


}